@import 'styles/_variables.scss';
.container {
  
  margin: 15px;

  .breadcrumb {
    font-size: 14px;
    color: $grey-900;
    display: flex;

    li {
      margin-right: 8px;

      &:after {
        content: url(./flecha.svg);
        margin-left: 6px;
      }

      &:last-child {
        font-weight: 600;
        &:after {
          content: '';
        }
      }
    }

    @media only screen and (max-width: 600px)   {
      flex-wrap: wrap;
    }
  }
}
