$sansFamily: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$primaryColor: #ffe600;
$secondaryColor: #eeeeee;

$grey-300: #333333;
$grey-600: #666666;
$grey-900: #999999;

$white: #ffffff;
$black: #000000;
$blue: #3483fa;

$error: #ff0000;

$header: 85px;
$margin-small: 16px;
$margin-large: 32px;

$radius: 4px;

$maxWidth: 1255px;

$boxShadow: 0 0 2px 0
  rgba(
    $color: #000000,
    $alpha: 0.3,
  );

.main-container {
  display: flex;
  max-width: $maxWidth;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    display: inline-flex;
    margin: 30px 15px;
    width: auto;
    align-items: center;
  }
}
